.arrows {
  position: absolute;
  top: 52%;
  left: 51%;
  width: 100%;
  min-height: 41px;
  transform: translateX(-51%);
  max-width: 940px;
}

.arrows__button {
  position: relative;
  width: 22px;
  min-height: 41px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 22px 41px;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.arrows__button--next {
  &::before {
    right: 0;
    background-image: url("../img/icon-review-arrow-right.svg");
  }
}
