.buttons__item {
  background-color: $white;
  border: 3px solid $pink;
  border-radius: 30px;
  min-width: 280px;
  min-height: 55px;
  font-weight: $fw700;
  font-size: 18px;
  line-height: 18px;
  color: $pink;
  margin-bottom: 33px;
}
