.competition {
  text-align: left;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    text-align: center;
  }
}

.competition__form {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    row-gap: 69px;
    column-gap: 40px;
  }

  @media (min-width: $desktop) {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: min-content min-content;
  }
}

.competition__description {
  margin: 54px auto;
  max-width: 500px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $dark-color;

  @media (min-width: $tablet) {
    margin: 100px auto;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    display: inline-block;
    margin: 100px auto;
    max-width: 760px;
    font-size: 18px;
  }
}

.competition__description--hide {
  display: none;


  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.competition__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  border: 2px solid $light-color-2;
  border-radius: 2px;

  @media (max-width: 659px) {
    border: none;
  }
}

.competition__text {
  display: block;
  margin: 0 0 26px 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.competition__sup {
  font-size: 16px;
  color: $link-color;
}

.competition__sup--hide {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.competition__footer {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.competition__submit {
  @media (min-width: $tablet) {
    margin: 0;
  }
}
