.competition {
  text-align: left;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    text-align: center;
  }
}

.competition__form {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    column-gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr min-content;
    padding-left: 0;
    padding-right: 0;
    column-gap: 0;
  }
}

.competition__description {
  margin: 44px auto 30px auto;
  max-width: 290px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $dark-color;


  @media (min-width: $tablet) {
    max-width: 550px;
    margin: 90px auto 62px auto;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    display: inline-block;
    margin: 91px auto 72px auto;
    max-width: 850px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
  }
}

.competition__description--hide {
  display: none;


  @media (min-width: $tablet) {
    display: block;
    margin: 0;
  }

  @media (min-width: $desktop) {
    display: inline-block;
    padding: 0;
  }
}

.competition__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: 2px solid $light-color-2;
  border-radius: 2px;


  @media (max-width: 659px) {
    border: none;
  }
}

.competition__text {
  display: block;
  margin: 27px 0 29px 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 26px 1px 29px 0;
  }

  @media (min-width: $desktop) {
    margin: 27px 0 0 0;
  }
}

.competition__sup {
  font-size: 16px;
  color: $link-color;
}

.competition__sup--hide {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.competition__footer {
  padding-top: 1px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 9px;
  }
}

.competition__submit {
  @media (min-width: $tablet) {
    margin: 0;
  }
}
