.contacts {
  @include wrapper;
  position: relative;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 100%;
  max-width: 940px;
  text-align: center;
}

.contacts__list {
  @include list-reset;
  padding-top: 34px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 41px;
    padding-top: 35px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }
}

.contacts__item {
  margin-bottom: 18px;

  &:last-child {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;

    &:first-child {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      padding-left: 9px;
    }

    &:nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      padding-right: 9px;
    }

    &:last-child {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (min-width: $desktop) {
    &:first-child {
      padding-left: 47px;
    }

    &:nth-child(2) {
      order: 1;
      padding-right: 30px;
    }

    &:last-child {
      width: 211px;
      margin-left: 112px;
    }
  }
}

.contacts__title {
  margin: 0;
  font-weight: $additional-font-weight;
  font-size: 18px;
  line-height: 25px;
  color: $dark-color;

  @media (min-width: $tablet) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 20px 0;
  }
}

.contacts__link {
  font-weight: $special-font-weight;
  font-size: 24px;
  font-style: normal;
  line-height: 33px;
  color: $link-color;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: $dark-color;
  }

  &:active {
    color: $dark-color;
    opacity: 0.3;
  }

  &:last-child {
    margin-bottom: 42px;

    @media (min-width: $tablet) {
      width: 211px;
      margin: 0 auto 23px auto;
    }

    @media (min-width: $desktop) {
      margin: 20px auto 23px auto;
    }
  }
}

.contacts__text {
  @include wrapper;
  width: 280px;
  margin-top: 43px;
  font-weight: $special-font-weight;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: $dark-color;

  @media (min-width: $tablet) {
    width: 450px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    width: 490px;
    margin-top: 59px;
    line-height: 68px;
    font-size: 50px;
  }
}
