.copyright {
  display: flex;
  flex-wrap: wrap;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
}

.copyright__logo-image {
  & path {
    fill: $background-color-1;
  }

  &:hover path {
    fill: $link-color;
  }

  &:active path {
    fill: $background-color-1;
    opacity: 0.3;
  }
}
