.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 284px;

  @media (min-width: $tablet) {
    flex-direction: row;
    min-height: 127px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    min-height: 197px;
    width: 940px;
    margin: 0 auto;
  }
}

.footer__logo {
  margin-top: 28px;

  @media (min-width: $tablet) {
    width: 165px;
    margin-top: 31px;
  }

  @media (min-width: $desktop) {
    margin-top: 61px;
    padding-right: 16px;
  }
}

.footer__logo-image {
  display: block;
  width: 100%;
  text-align: center;

  &:hover path {
    fill: $link-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .footer__logo-pink path {
    fill: $dark-color;
  }

  @media (min-width: $tablet) {
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
  }
}

.footer__list {
  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet) {
    vertical-align: middle;
    width: 33%;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet) {
    //width: 33%;
  }
}

.footer--photo {
  padding-top: 12px;

  @media (min-width: $tablet) {
    padding-top: 5px;
  }

  @media (min-width: $desktop) {
    padding-top: 36px;
  }
}
