.info__heading {
  color: $dark-color;
  font-weight: $special-font-weight;
  font-size: 24px;
  line-height: 120%;
}

.info__list {
  @include list-reset;
}

.info__title {
  font-weight: $additional-font-weight;
}

.info__description {
  font-size: 14px;
}
