.map {
  @include wrapper;
  position: relative;
  z-index: 0;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
  //padding-bottom: 56.25%;

  @media (min-width: $tablet) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 13px;
    max-height: 502px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-85px);
    width: 100%;
    height: 123px;
    background-image: url("../img/footer-triangle-white.png");
    background-repeat: no-repeat;
    background-size: 100% 123px;
    z-index: 2;

    @media (min-width: $tablet) {
      background-image: url("../img/footer-triangle-white-tablet.png");
      transform: translateY(-50px);
    }

    @media (min-width: $desktop) {
      background-image: url("../img/footer-triangle-white-desktop.png");
      transform: translateY(-15px);
    }
  }
}

.map__google {
  position: relative;
  top: 8px;
  z-index: 1;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet) {
    height: 374px;
  }

  @media (min-width: $desktop) {
    height: 502px;
  }
}

.map__image {
  display: block;
  position: absolute;
  bottom: -199px;
  left: 0;
  z-index: -1;
  width: 100%;

  @media (min-width: $tablet) {
    bottom: -420px;
    left: -3px;
  }

  @media (min-width: $desktop) {
    bottom: -457px;
    left: 10px;
  }
}
