.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  font-weight: $additional-font-weight;
  color: $background-color-2;
}

.nav__list {
  @include list-reset;
}

.nav__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  margin-top: 22px;
}

.nav__logo-image {
  width: 74px;
  height: 23px;
}

.nav__toggle {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 50px;
  height: 4px;
  justify-self: end;
  align-items: center;
  margin-top: 31px;
  border: none;
  background-color: $background-color-2;
  border-radius: 1px;
  box-shadow:
    0 -8px 0 0 $background-color-2,
    0 8px 0 0 $background-color-2;
  outline: none;

  &:hover,
  &:focus {
    background-color: $link-color;
    box-shadow:
    0 -8px 0 0 $link-color,
    0 8px 0 0 $link-color;
  }

  &:active {
    background-color: $link-color;
    box-shadow:
    0 -8px 0 0 $link-color,
    0 8px 0 0 $link-color;
    opacity: 0.3;
  }
}
