.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 66px;
  font-weight: $additional-font-weight;
  color: $background-color-2;

  @media (min-width: $tablet) {
    min-height: 110px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__list {
  @include list-reset;

  @media (min-width: $desktop) {
    width: 75%;
    justify-content: flex-end;
    margin-right: 130px;
    line-height: 18px;
  }
}

.nav__logo {
  align-items: end;
  display: block;
  padding-left: 20px;
  outline: none;

  &:hover .nav__logo-image path,
  &:focus .nav__logo-image path {
    fill: $link-color;
  }

  &:active .nav__logo-image path {
    fill: $background-color-2-opacity;
  }
}

.nav__logo-image {
  width: 74px;
  height: 23px;
}

.nav__toggle {
  position: relative;
  width: 50px;
  height: 4px;
  padding: 0;
  margin: 21px 20px 21px 0;
  justify-self: end;
  border: none;
  background-color: $background-color-2;
  border-radius: 1px;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $background-color-2;
    border-radius: 1px;
  }

  &::after {
    top: 10px;
  }

  &:hover,
  &:focus,
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $link-color;
  }

  &:active,
  &:active::before,
  &:active::after {
    background-color: $link-color-opacity;
  }

  @media (min-width: $tablet) {
    margin: 43px 20px 43px 0;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
