.photo {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  justify-content: center;
}

.photo__header {
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: $tablet) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.photo__description {
  min-width: 280px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-color;
  text-align: center;
  padding-left: 36px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    margin-top: 90px;
    margin-bottom: 77px;
    font-size: 18px;
    max-width: 540px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 90px;
    font-size: 18px;
    max-width: 740px;
    padding-left: 55px;
    padding-right: 40px;
  }
}

.photo__list {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
    align-items: start;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    row-gap: 54px;
    column-gap: 20px;
  }
}

.photo__panorama {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  max-width: 1200px;
}

.photo__wrapper {
  max-width: 297px;
  margin: 20px auto 0 auto;
  padding-left: 17px;

  @media (min-width: $tablet) {
    max-width: 638px;
    padding-left: 17px;
    margin: 16px auto 0 auto;
  }

  @media (min-width: $desktop) {
    max-width: 956px;
    margin: 49px auto 0 auto;
  }
}
