.post {
  @include list-reset;
  color: $dark-color;
}

.post__description {
  margin: 0;
  background-color: $light-color;
}

.post__author {
  font-weight: $additional-font-weight;
  font-size: 14px;
  line-height: 24px;
}

.post__time {
  font-weight: $special-font-weight;
  font-size: 12px;
  line-height: 24px;
}

.post__text {
  font-weight: $main-font-weight;
  font-size: 14px;
  line-height: 24px;
}

.post__like {
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart-pink.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center center;
  border: none;
  background-color: $background-color-2;
}

.post__like-label {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $link-color;
}

.post__text-bottom {
  font-size: 14px;
  line-height: 30px;
  color: $dark-color;
  background-color: $background-color-2;
}
