.scale__range {
  appearance: none;
  width: 240px;
  height: 2px;
  border: 2px solid $dark-color;
  color: $link-color;
  outline: none;
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 202px;
  }

  @media (min-width: $desktop) {
    width: 288px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: $background-color-2;
    border: 2px solid $link-color;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
}

.scale__range--active {
  position: absolute;
  top: 150%;
  left: -50%;
  display: block;

  &::-webkit-slider-thumb {
    background-color: $link-color;
    border: none;
  }

  @media (min-width: $tablet) {
    position: static;
  }
}
/*
.scale__range--active::-webkit-slider-thumb {
  background-color: $link-color;
  border: none;
}
*/
