.scale__range {
  appearance: none;
  width: 240px;
  height: 1px;
  margin-top: 6px;
  border: 1px solid $dark-color;
  color: $link-color;
  outline: none;
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-top: 0;
    width: 202px;
  }

  @media (min-width: $desktop) {
    width: 288px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: $background-color-2;
    border: 2px solid $link-color;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  &::-webkit-slider-thumb:active {
    background-color: $link-color;
    border: none;
  }
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: $link-color;
}

.scale__range--active {
  position: absolute;
  top: 160%;
  left: -50%;
  display: block;

  @media (min-width: $tablet) {
    position: static;
  }
}
