.social-list {
  @include list-reset;
}

.social-list__item {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid rgba(2, 131, 100, 0.1);

  &:hover {
    border: 3px solid $dark;
  }

  &:active {
    opacity: 0.1;
  }
}

.social-list__item--tw {
  background-image: url("../img/icon-twitter-pink.svg");
  background-size: 18px 14px;
}

.social-list__item--fb {
  background-image: url("../img/icon-facebook-pink.svg");
  background-size: 9px 18px;
}

.social-list__item--you {
  background-image: url("../img/icon-youtube-pink.svg");
  background-size: 15px 13px;
}
