.social-list {
  @include list-reset;
}

.social-list__item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid rgba(2, 131, 100, 0.1);

  &:hover {
    border: 3px solid $dark-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.social-list__link {
  display: inline-block;
  text-align: center;
  line-height: 42px;
  width: 100%;
  height: 100%;
}

.social-list__icon {
  & path {
    fill: $link-color;
  }
}
