.tariffs__heading {
  background: $dark-color;
  border: 2px solid $background-color-2;
}

.tariffs__title {
  font-weight: $additional-font-weight;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: $background-color-2;
}

.tariffs__price {
  font-weight: $special-font-weight;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $background-color-2;
}

.tariffs__hit {
  display: block;
  width: 86px;
  color: $background-color-2;
  background-color: $link-color;
}

.tariffs {
  border: 2px solid $background-color-2;
  border-collapse: collapse;
}

.tariffs__body {
  border: 2px solid $light-color-2;
}

.tariffs__text {
  min-width: 276px;
  font-size: 14px;
  line-height: 30px;
  background-color: $background-color-2;
  background-repeat: no-repeat;
  background-position: 228px 0;
}

.tariffs__text--yes {
  background-image: url("../img/icon-yes-green.svg");
}

.tariffs__text--no {
  background-image: url("../img/icon-no-red.svg");
}
