.tools {
  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    min-width: 275px;
    min-height: 74px;

    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      right: -16px;
      width: 275px;
      height: 1px;
      background-color: $dark-color;
      opacity: 0.1;
    }

    &:last-child::before {
      bottom: 6px;
    }
  }

  @media (min-width: $desktop) {
    min-width: 410px;
    margin-right: 80px;
    padding-bottom: 16px;
    padding-left: 22px;

    &::before {
      bottom: 9px;
      right: -23px;
      width: 410px;
    }

    &:last-child::before {
      display: none;
    }
  }
}

.tools__icon {
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (min-width: $tablet) and (max-width: 960px) {
    width: 22px;
  }

  @media (min-width: $tablet) {
    opacity: 1;
    fill: $link-color;
  }
}

.tools__icon--contrast {
  @media (min-width: $tablet) {
    width: 17px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop) {
    width: 44px;
    padding-bottom: 0;
    margin-bottom: 6px;
  }
}

.tools__item--active .tools__icon {
  opacity: 1;
  fill: $link-color;
}

.tools:first-child .tools__item {
  margin-top: 4px;
}

.tools:nth-child(2) .tools__item {
  margin-top: 8px;
}

.tools:nth-child(3) .tools__scale {
  margin-bottom: 8px;
}
