.tools {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    min-width: 275px;
    min-height: 74px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  @media (min-width: $desktop) {
    min-width: 410px;
    margin-right: 80px;
    padding-bottom: 16px;
    padding-left: 22px;

    &:last-child {
      border: none;
    }
  }
}

.tools__icon {
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (min-width: $tablet) and (max-width: 1199px) {
    width: 22px;
  }

  @media (min-width: $tablet) {
    opacity: 1;
    fill: $link-color;
  }
}

.tools__icon--contrast {
  @media (min-width: $tablet) {
    width: 17px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop) {
    width: 44px;
    padding-bottom: 0;
    margin-bottom: 6px;
  }
}

.tools__item--active .tools__icon {
  opacity: 1;
  fill: $link-color;
}
