.trip {
  margin: 0;
  padding: 0;
  background-color: $light-color;

  @media (min-width: $tablet) {
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $background-color-2;
  }

  @media (min-width: $desktop) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.trip--app {
  @media (min-width: $tablet) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: $desktop) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.trip__legend {
  padding: 42px 48px 55px 48px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $link-color;
  text-align: center;
  white-space: pre-line;
  background-color: $light-color;

  @media (max-width: 659px) {
    width: 100%;
  }

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 33px;
    padding-right: 33px;
    background-color: $background-color-2;
  }
}

.trip__list {
  @include list-reset;
  text-align: left;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
    margin-left: 60px;
  }
}

.trip__list--progress {
  @media (min-width: $desktop) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding-left: 20px;
    padding-top: 50px;
  }
}

.trip__input[type="checkbox"],
.trip__input[type="radio"] {
  appearance: none;
}

.trip__item {
  margin-bottom: 69px;

  @media (min-width: $desktop) {
    margin-bottom: 69px;
  }
}

.trip__label {
  position: relative;
  display: block;
  margin-left: 79px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-color;

  &::before {
    content: "";
    position: absolute;
    left: -57px;
    bottom: 0;
    width: 35px;
    height: 35px;
    background-color: $background-color-2;
    border: 2px solid $light-color-2;
    border-radius: 2px;
  }

  &:hover::before {
    border: 2px solid $dark-color;
  }

  &:active::before {
    border: 2px solid $link-color;
  }
}

.trip__input:focus + .trip__label::before {
  border: 2px solid $dark-color;
}

.trip__input[type="checkbox"]:disabled + .trip__label::before,
.trip__input[type="radio"]:disabled + .trip__label::before,
.trip__input[type="checkbox"]:hover:disabled + .trip__label::before,
.trip__input[type="radio"]:hover:disabled + .trip__label::before,
.trip__input[type="checkbox"]:active:disabled + .trip__label::before,
.trip__input[type="radio"]:active:disabled + .trip__label::before {
  border: 2px solid $light-color-2;
  opacity: 0.4;
}

.trip__input[type="checkbox"]:checked + .trip__label::before {
  background-image: url("../img/form-tick.svg");
  background-position: 6px 7px;
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.trip__label--radio {
  &::before {
    border-radius: 50%;
  }
}

.trip__input[type="radio"]:checked + .trip__label::before {
  background-image: url("../img/form-point.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
