.user {
  @media (min-width: $tablet) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: $desktop) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.user--contact {
  @media (min-width: $tablet) {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.user__legend {
  @include none;

  @media (min-width: $tablet) {
    display: block;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $link-color;
  }
}

.user__legend--hide {
  @media (min-width: $tablet) {
    @include none;
  }
}

.user__list {
  @include list-reset;
  text-align: left;
  width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 570px;
  }
}

.user__list--contact {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.user__label {
  display: block;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $link-color;

  @media (min-width: $tablet) {
    margin-right: 20px;
    line-height: 59px;
  }
}

.user__input {
  min-width: 276px;
  min-height: 59px;
  font-family: $main-font;
  border: 2px solid $light-color-2;
  border-radius: 2px;

  &::placeholder {
    font-family: $main-font;
    font-size: 18px;
    line-height: 30px;
    color: $dark-color;
  }

  &:hover {
    border: 2px solid $dark-color;
  }

  @media (min-width: $tablet) {
    background-color: transparent;
    flex-grow: 1;
  }
}

.user__item {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.user__item--contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 0;

  @media (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 79%;
      width: 59px;
      height: 59px;
      background-color: $light-color-2;
      background-image: url("../img/icon-phone-pink.svg");
      background-repeat: no-repeat;
      background-size: 20px 19px;
      background-position: center center;
      z-index: -1;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 44px;

    &::before {
      left: 76%;
    }
  }
}

.user__item--contact:last-child {
  &::before {
    background-image: url("../img/icon-mail-pink.svg");
    background-size: 18px 13px;
  }
}

.user__item--contact .user__input {
  @media (min-width: $tablet) {
    order: -1;
  }
}

.user__item:focus-within .user__input {
  outline: none;
  border: 2px solid $link-color;
}

.user__input--comment {
  min-width: 276px;
  height: 197px;
  resize: none;
  outline: none;

  &:hover {
    border: 2px solid $dark-color;
  }

  &:focus {
    border: 2px solid $link-color;
  }

  &::placeholder {
    padding: 0 12px;
    font-size: 18px;
    line-height: 30px;
    color: $dark-color;
  }

  @media (min-width: $tablet) {
    min-width: 496px;
  }

  @media (min-width: $desktop) {
    min-width: 816px;
  }
}

.user__label--comment {
  order: -1;
  padding: 0;

  @media (min-width: $tablet) {
    @include visually-hidden;
  }
}

.user__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user--name {
  border: none;

  @media (min-width: $tablet) {
    border: none;
  }
}

.user--textarea {
  @media (min-width: $tablet) {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: $desktop) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.user__legend--texterea {
  visibility: hidden;

  @media (min-width: $tablet) {
    visibility: visible;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $link-color;
  }
}

.user__input--contact {
  @media (min-width: $desktop) {
    min-width: 371px;
  }
}
