.user {
  @media (min-width: $tablet) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: $desktop) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.user--contact {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    margin-top: 52px;
    padding-top: 26px;
  }

  @media (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 53px;
    margin-bottom: 54px;
    padding-top: 0;
  }
}

.user__legend {
  @include none;

  @media (min-width: $tablet) {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $link-color;
  }
}

.user__legend--hide {
  @media (min-width: $tablet) {
    @include none;
  }
}

.user__list {
  @include list-reset;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    display: block;
    width: 100%;
  }
}

.user__list--name {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-top: 3px;
    padding-right: 21px;
  }
}

.user__list--contact {
  @media (min-width: $tablet) {
    padding: 0 30px 17px 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0 0 6px 58px;
  }
}

.user__label {
  display: block;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $link-color;

  @media (min-width: $tablet) {
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 0;
    line-height: 50px;
  }
}

.user__input {
  display: block;
  width: 277px;
  min-height: 63px;
  margin-top: 4px;
  padding: 13px 0 0 19px;
  font-family: $main-font;
  border: 2px solid $light-color-2;
  border-radius: 2px;


  &::placeholder {
    font-family: $main-font;
    font-size: 18px;
    line-height: 30px;
    color: $dark-color;
  }

  &:hover {
    border: 2px solid $dark-color;
  }

  @media (min-width: $tablet) {
    background-color: transparent;
    flex-grow: 1;
  }
}

.user__item {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.user__item--contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;

  @media (min-width: $tablet) {
    padding-left: 58px;
    padding-right: 28px;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: 30px;
      width: 59px;
      height: 59px;
      background-color: $light-color-2;
      background-image: url("../img/icon-phone-pink.svg");
      background-repeat: no-repeat;
      background-size: 20px 19px;
      background-position: center center;
      z-index: -1;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 18px;
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      margin-right: 77px;
    }

    &::before {
      top: 12px;
      left: 84%;
    }
  }
}

.user__item--contact:first-child .user__label {
  margin-top: 32px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0 0 0 19px;
    line-height: 50px;
  }
}

.user__item--contact:nth-child(2) .user__label {
  margin-top: 19px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0 0 0 15px;
    line-height: 50px;
  }
}


.user__item--contact:last-child {
  &::before {
    background-image: url("../img/icon-mail-pink.svg");
    background-size: 18px 13px;
  }
}

.user__item--contact .user__input {
  @media (min-width: $tablet) {
    order: -1;
    width: 100%;
    margin-top: 4px;
    padding-top: 15px;
  }

  @media (min-width: $desktop) {
    margin-top: 10px;
  }
}

.user__item:focus-within .user__input {
  outline: none;
  border: 2px solid $link-color;
}

.user__item--name {
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 48px;
  }
}

.user__input--comment {
  width: 280px;
  height: 201px;
  resize: none;
  outline: none;
  margin-top: 11px;
  padding-top: 13px;
  padding-left: 19px;

  &:hover {
    border: 2px solid $dark-color;
  }

  &:focus {
    border: 2px solid $link-color;
  }

  &::placeholder {
    padding: 0 12px;
    font-size: 18px;
    line-height: 30px;
    color: $dark-color;
  }

  @media (min-width: $tablet) {
    min-width: 500px;
    height: 194px;
    margin: 32px auto 11px auto;
    padding-top: 15px;
    padding-left: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 816px;
    min-height: 128px;
    max-height: 128px;
    margin-top: 27px;
    margin-bottom: 43px;
  }
}

.user__label--comment {
  order: -1;
  padding: 0;

  @media (min-width: $tablet) {
    @include visually-hidden;
  }
}

.user__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__comment--textarea {
  margin: 0 auto;
  margin-bottom: 47px;


  @media (min-width: $tablet) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
  }
}

.user--name {
  border: none;
  margin-bottom: 12px;
  padding: 6px 0 0 0;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 6px;
    margin: 0;
    border: none;
  }
}

.user--textarea {
  margin-top: 7px;

  @media (min-width: $tablet) {
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 50px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 52px;
    padding-bottom: 0;
  }
}

.user__legend--texterea {
  visibility: hidden;

  @media (min-width: $tablet) {
    visibility: visible;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $link-color;
  }
}

.user__input--contact {
  @media (min-width: $desktop) {
    min-width: 371px;
  }
}
